@import "nav";
@import "partials";
@font-face {
    font-family: fashionFetish;
    src: url("../assets/fonts/fashion_fetish/FashionFetishLight.ttf");
}
// a @mixin is a code chunks that can take parameters
@mixin widthHeight($width, $height) {
    width: $width;
    height: $height;
}

#container, body {
    font-family: fashionFetish;
    // use @mixin by calling @include mixinName, and parameters, if any
    @include widthHeight(100%,100%);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main {}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 7%;
  display: block;
  background: #ffffff;
}

.tester {
    float: right;
    margin-right: 2%;
    font-size: 5em;
    text-shadow: 2px 2px #3b4b56;
}
