@font-face {
    font-family: fashionFetish;
    src: url(../assets/fonts/fashion_fetish/FashionFetishLight.ttf);
}

body, #container {
    font-family: fashionFetish;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#sideNav {
    position: absolute;
    /*right: 0;*/
    width: 20%;
    overflow: auto;
    /*border: thin dotted magenta;*/
}

img {
    max-width: 100%;
    max-height: 100%;
    background-color: #9CEFF6;
}

header {
    text-align: center;
    border: 1px solid black;
}

header a {
    /*causing space between logo and nav items ?*/
}

main {}

footer {}

nav a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    text-align: center;
    vertical-align: middle;
    line-height: 15vh;
    width: 99%;
    min-height: 15vh;
    box-shadow: 1% 1% 5px darkgrey;
    border: thin solid darkgrey;
    /*background-color: #2992BC;*/
}

.tester {
  float: right;
  font-size: 5em;
}
