#container {
    height: 100%;
    width: 100%;
    position: relative;
}

#sideNav {
    position: absolute;
    /*right: 0;*/
    width: 20%;
    border: thin dotted magenta;
}

img {
    max-width: 100%;
    max-height: 100%;
    background-color: #9CEFF6;
}

header {
    text-align: center;
    border: 1px solid black;
}

header a {
    /*causing space between logo and nav items ?*/
}

main {}

footer {}

nav a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    text-align: center;
    vertical-align: middle;
    line-height: 15vh;
    width: 99%;
    min-height: 15vh;
    border: thin solid blue;
    background-color: #2992BC;
}
